$kodemiaBlue:cyan;
$kodemiaGreen: #1bff00;
$bgGray: #797979;

nav{
	img{
		max-width:50px;
	}
}

#calendar-gantt{
	white-space: nowrap;
	width:100%;
	overflow-x: scroll;
	height:calc(100vh - 110px);
	border:1px solid red;
	padding-left:200px;
	.grid-wrapper{
		display:flex;
		.month-wrapper{
			display:inline-block;
			.month-name{
				color:$kodemiaBlue;
				font-size:18px;
			}
			.days-wrapper{
				display: flex;
				align-items:stretch;
	    		white-space: nowrap;
				.day-item{
				    border: 1px solid $kodemiaGreen;
				    display: inline-block;
				    width: 300px;	
			        padding: 10px;
			        min-height: 92px;
			        &.saturday{
			        	color:$kodemiaBlue;
			        }		
					.activities-wrapper{
						.activity-item{
							&.red-line{
								background:rgba(255, 0, 0, .5);
							}
							&.blue-line{
								background:rgba(0,0,255,.5);
							}
							&:hover{
								color:white;
								cursor:pointer;
							}
						}
						.activity-title{
							font-size: 16px;
    						white-space: normal;
						}
						.activities-list{
						    list-style: none;
    						padding-left: 0;
    						display:none;
    						overflow: hidden;
    						li{
    							white-space: normal;
    						}
    						&.active{
    							display:block;
    						}
						}
					}
				}
			}
		}
	}
}

.gray-background{
	background:$bgGray;
}
