
@font-face {
  font-family: 'FrutigerLTforBNS-Bold';
  src: url('FrutigerLTforBNS-Bold.eot?#iefix') format('embedded-opentype'),  url('FrutigerLTforBNS-Bold.woff') format('woff'), url('FrutigerLTforBNS-Bold.ttf')  format('truetype'), url('FrutigerLTforBNS-Bold.svg#FrutigerLTforBNS-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
