
@font-face {
  font-family: 'FrutigerLTforBNS-Medium';
  src: url('FrutigerLTforBNS-Medium.eot?#iefix') format('embedded-opentype'),  url('FrutigerLTforBNS-Medium.woff') format('woff'), url('FrutigerLTforBNS-Medium.ttf')  format('truetype'), url('FrutigerLTforBNS-Medium.svg#FrutigerLTforBNS-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
