
@font-face {
  font-family: 'FrutigerLTforBNS-Light';
  src: url('FrutigerLTforBNS-Light.eot?#iefix') format('embedded-opentype'),  url('FrutigerLTforBNS-Light.woff') format('woff'), url('FrutigerLTforBNS-Light.ttf')  format('truetype'), url('FrutigerLTforBNS-Light.svg#FrutigerLTforBNS-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
